<!-- <div id="header" class="fixed top-0 left-60 right-0 h-16 pl-20 pr-20 p-2 z-10 transition-all duration-300"> -->
<div id="header" class="py-2 h-[66px] pl-20 pr-20 absolute top-0 left-0 right-0 z-50 header-transparent">
  <div class="flex items-center justify-between">
    <div>
      <form
        class="flex items-center bg-white/20 rounded-lg px-4 py-3 w-96 max-w-xl border border-white/20 focus-within:bg-black/60 transition-all duration-300">
        <i class="fa-solid fa-magnifying-glass text-white/50 mr-3"></i>
        <input type="text" placeholder="Search songs, albums, artists, podcasts"
          class="bg-transparent outline-none text-white text-base font-light placeholder-white/50 w-full">
      </form>
    </div>

    <ul class=" flex items-center gap-4 text-white">
      <li>
        <a href="#">
          <i class="fa-brands fa-chromecast text-2xl"></i>
        </a>
      </li>
      <li class="relative">
        <a href="#">
          <i class="fa-solid fa-ellipsis-vertical text-xl"></i>
        </a>

        <div id="header-signin-popup"
          class="w-64 rounded-sm absolute top-full right-0 mt-2 z-10 opacity-0 scale-0 pointer-events-none transition-all duration-300 ease-out origin-top-right">
          ${generateMenuRightClick()}
        </div>
      </li>
      <li>
        <button class="button-signin-header">
          Sign in
        </button>
      </li>
    </ul>
  </div>
</div>