/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background: var(--bg);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 100;
  background: #f5f5f5;
}


.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //margin: auto;
  gap: 30px;

  .exercise-one {
    width: 800px;
    background: lightgray;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 20px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .eo-count {
      width: 100%;
      font-size: 14px;
      color: gray;
      display: flex;
      align-items: center;
      //justify-content: center;
      //justify-content: flex-end;


      span:last-child {
        font-weight: 600;
        margin: 0 2px;
      }

      span:first-child {
        margin-right: 5px;
        width: 10px;
        height: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 600;
        background: darkblue;
        color: lightblue;
        padding: 5px;
        border-radius: 50%;
      }
    }

    .eo-result {
      font-size: 14px;
      line-height: 20px;
      display: block;
      border-radius: 5px;
      transition: 0.2s ease;
      padding: 5px;

      &.success {
        background: lightblue;
        color: darkblue;
      }

      &.fail {
        background: rgba(240, 128, 128, 0.5);
        color: darkred;
      }

      &.has-content {
        white-space: pre-wrap;
        padding: 5px;
      }

      .highlight {
        font-size: 16px;
        background-color: yellow;
        color: coral;
        display: inline;
        border-bottom: 1px solid coral;
        border-radius: 2px;
        font-weight: 400;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      div {
        display: flex;
        flex-direction: column;
        gap: 5px;

        textarea {
          resize: vertical;
          min-height: 100px;
          max-height: 300px;
          padding: 5px;
          border: none;
          outline: none;
          border-radius: 2px;
          font-weight: 100;
          color: darkslategray;
        }
      }

      input {
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 2px;
      }

      button {
        background: black;
        outline: none;
        color: lightgray;
        border: none;
        padding: 5px;
        border-radius: 2px;
        transition: 0.1s linear;

        &:hover {
          cursor: pointer;
          background: darkred;
        }
      }
    }
  }

  .exercise-two {
    width: 800px;
    background: lightgray;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 20px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    form {
      display: flex;
      gap: 10px;

      input {
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 2px;
      }

      button {
        background: black;
        outline: none;
        color: lightgray;
        border: none;
        padding: 5px;
        border-radius: 2px;
        transition: 0.1s linear;

        &:hover {
          cursor: pointer;
          background: darkred;
        }
      }

      .et-result {

        &.success {
          background: lightblue;
          color: darkblue;
        }

        &.fail {
          background: rgba(240, 128, 128, 0.5);
          color: darkred;
        }

        gap: 5px;
        display: flex;
        flex-direction: column;
        //background: rgba(240, 128, 128, 0.5);
        padding: 5px;
        border-radius: 5px;
        //color: darkred;

        ul {
          gap: 5px;
          display: flex;
          flex-direction: column;
        }

        li {
          font-size: 14px;

          &::before {
            content: "\26A0";
            margin-right: 5px;
          }
        }
      }
    }
  }
}