/* ============================================================
  RESET / BASE
============================================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  color: #0f172a;
  background: white;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

/*--------------------------------------------------------------
# TOKENS (px)
--------------------------------------------------------------*/
:root {
  --bg: #f7e9c8;
  --brand: #0b0f0e;
  --accent: #ef6a3a;
  --bar-yellow: #f4c750;
  --bar-green: #116a52;
  --ring: #0e1513;
  --container: 1200px;

  /* spacing in px */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-6: 48px;
  --space-8: 64px;

  --radius: 16px;
  --shadow: 0 6px 22px rgba(0, 0, 0, .12);
}

.container {
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--space-2);
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
header.site-header {
  background: #f7e9c8;
  position: relative;
  z-index: 5;
  padding-top: 10px;
}

.header__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
  padding: 16px 0;
}

.main-content {
  background: #f7e9c8;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  color: inherit;
}

.brand img {
  width: 31px;
  height: 31px;
  flex-shrink: 0;
}

.brand-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.05;
  text-align: center;
}

.brand-name {
  color: #0E1412;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 600;
}

.brand-tagline {
  font-weight: 300;
  font-size: 14px;
  opacity: .9;
}

/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
nav.primary-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

nav.primary-nav a {
  display: inline-block;
  padding: 4px 4px;
  border-radius: 6px;
}

nav.primary-nav a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

nav.primary-nav li.has-submenu>a {
  position: relative;
  padding-right: 20px;
}

nav.primary-nav li.has-submenu>a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  background: url("../images/menu-arrow-down.svg") no-repeat center / contain;
  transform: translateY(-50%);
}

nav.primary-nav li.has-submenu.open>a::after {
  background-image: url("../images/menu-arrow-up.svg");
}

nav.primary-nav li.has-submenu.open>a {
  color: #FD6038;
  font-weight: 600;
}

/*--------------------------------------------------------------
# CALL CTA
--------------------------------------------------------------*/
.header__cta {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
}

.header__cta a {
  font-size: 22px;
  font-weight: 700;
  color: inherit;
}


/*--------------------------------------------------------------
# HERO
--------------------------------------------------------------*/
#main-content {
  padding-top: 40px;
  padding-bottom: 80px;
}

.hero {
  padding: 100px 0;
}

.hero__grid {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .hero__grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.kicker {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 12px;
}

.hero__title {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 70px;
  margin-bottom: 18px;
}

.hero__lead {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 53px;
}

.btn {
  display: inline-block;
  background: var(--accent);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  padding: 15px 35px;
  text-decoration: none;


  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.hero__media {
  margin: 0;
}

.media-composition {
  position: relative;
  isolation: isolate;
  background: #017848;
  width: 470px;
  height: 476px;
}

.media-composition-inner {
  background: #FED464;
  width: 170px;
  height: 422px;
  position: absolute;
  bottom: 0;
}

.media-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.media-card img {
  width: 330px;
  height: 476px;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.media-brush {
  position: absolute;
  right: -32px;
  top: 40%;
  width: 180px;
  opacity: .95;
  pointer-events: none;
}

.video-ring-text {
  position: absolute;
  top: -21%;
  left: -21%;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.video-ring {
  position: absolute;
  /* left: -50px;
  top: -50%; */
  width: 100px;
  height: 100px;
  z-index: 100;
  top: -18%;
  left: -10%;
}

.video-mash {
  position: absolute;
  right: -20%;
  bottom: 45%;
  z-index: 100;
  rotate: 360deg;
  width: 164px;
  height: 128px;
}

.video-mash img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-composition {
  position: relative;
}


/*--------------------------------------------------------------
# ABOUT
--------------------------------------------------------------*/

.about {
  background: #0E1412;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__grid {
  display: flex;
  justify-content: space-around;
}

.about__media {
  position: relative;
  width: 570px;
  height: 570px;
  flex-shrink: 0;
  background-color: red;
}

.about__mash {
  position: absolute;

  right: -10%;
  top: 50%;
  z-index: 100;
}

.about__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  width: 570px;
  height: 570px;
}

.about__content .kicker {
  color: var(--Orange, #FD6038);
  /* Sub Heading */
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  margin-bottom: 6px;
}

.about__content h2 {
  color: var(--White, #FFF);
  /* H2 */
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-style: normal;
  /* font-weight: 700; */
  /* line-height: 52px; */
  margin-bottom: 18px;
}

.about__content .about__lead {
  color: #BECCC7;
  /* P1 */
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  /* line-height: 30px; */
  /* 166.667% */
  margin-bottom: 28px;
}

.about__stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  /* 141.667% */
}

.about__stats dt {
  color: var(--White, #FFF);
  /* text-align: center; */
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.about__stats dd {
  color: #BECCC7;

  /* P1 */
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
}

/*--------------------------------------------------------------
# SERVICES
--------------------------------------------------------------*/

.services {
  background: white;
  padding: 100px;
  max-width: 1400px;
  margin: 0 auto;
}

.services header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}


.services header .kicker {
  color: #586863;
  /* Sub Heading */
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 6px;
}

.services header h2 {
  color: var(--Dark, #0E1412);
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 18px;
}

.services header p:last-of-type {
  width: 470px;
  color: var(--Grey, #586863);
  text-align: center;
  /* P1 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.services ul.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  list-style: none;
}


.services ul.service-cards li {
  width: 370px;
  height: 370px;
}

.service-card {
  position: relative;
  width: 360px;
  height: 360px;
  overflow: hidden;
}

.service-card img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.service-card-title {
  font-family: "Manrope", sans-serif;
  width: 330px;
  height: 72px;
  position: absolute;
  left: 50%;
  bottom: 16px;

  /* small gap from edge */
  transform: translateX(-50%);
  background-color: white;
  color: #0E1412;
  font-size: 18px;
  font-weight: 600;
  /* padding: 16px 32px; */
  border-radius: 2px;
  /* text-align: center; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card-title.active {
  background-color: #FD6038;
  color: white;
}

.services .actions {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

/*--------------------------------------------------------------
# FEATURES
--------------------------------------------------------------*/
.features {
  background: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.feature {
  background: red;
  display: flex;
  justify-content: space-around;
}

.feature__grid {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.feature__media {
  position: relative;
  width: 570px;
  height: 570px;
  flex-shrink: 0;
  background-color: red;
}

.feature__mask {
  position: absolute;
  width: 117px;
  height: 129px;
  left: -10%;
  top: 35%;
  z-index: 100;
}

.feature__mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature__mask_col_orange {
  position: absolute;
  width: 20px;
  height: 220px;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #FD6038;
}

.feature__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  width: 570px;
  height: 570px;
}

.feature__content .kicker {
  color: #586863;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 6px;
}

.feature__content h3 {
  color: #0E1412;
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-style: normal;
  margin-bottom: 18px;
}

.feature__content p {
  color: #586863;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 28px;
}

.feature__content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature__content ul li {
  color: #0E1412;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.feature__content ul li::before {
  content: "•";
  color: #0E1412;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.feature__grid_green {
  display: flex;
  justify-content: space-around;
}

.feature__media_green {
  position: relative;
  width: 570px;
  height: 570px;
  flex-shrink: 0;
  background-color: red;
}

.feature__mask_green {
  position: absolute;
  width: 130px;
  height: 93px;
  left: -12%;
  top: 46%;
  z-index: 100;
}

.feature__mask_green img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.feature__mask_col_green {
  position: absolute;
  width: 20px;
  height: 220px;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #017848;
}

.feature__media_green img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature__content_green {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 100px;
  width: 570px;
  height: 570px;
}

.feature__content_green .kicker {
  color: #586863;
  /* Sub Heading */
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  margin-bottom: 6px;
}

.feature__content_green h3 {
  color: #0E1412;
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-style: normal;
  margin-bottom: 18px;
}

.feature__content_green p {
  color: #586863;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 28px;
}


/*--------------------------------------------------------------
# TEAM
--------------------------------------------------------------*/
.team {
  background: #0E1412;
  padding: 100px 0;
  width: 100%;
}

.team .team__inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.team header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}


.team header .kicker {
  color: #FD6038;
  /* Sub Heading */
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 6px;
}

.team header h2 {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 18px;
}

.team header p:last-of-type {
  width: 470px;
  color: #BECCC7;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.team ul.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  list-style: none;
}


.team ul.team-cards li {
  width: 370px;
  /* height: 370px; */
}

.team-card {
  position: relative;
  width: 360px;
  height: 360px;
  overflow: hidden;
  margin-bottom: 18px;
}

.team-card img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.team-card-title {
  padding: 15px 35px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);

  color: white;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.team-card-title.active {
  background-color: #FD6038;
  color: white;
}

.team-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-meta h3 {
  color: white;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.team-meta p {
  color: #BECCC7;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.team .actions {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}