/* ============================================================
  FAQ
============================================================ */
.faq {
  background: var(--white);
  width: 100%;
  /* padding-bottom: var(--section-padding); */
}

.faq .section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}

.faq .section-header .kicker {
  color: var(--grey);
  text-align: center;
  font-family: var(--font-heading);
  font-size: var(--fs-base);
  font-weight: 400;
  margin: 0;
}

.faq .section-header .faq-title {
  color: var(--dark);
  text-align: center;
  font-family: var(--font-heading);
  font-size: var(--fs-2xl);
  font-weight: 700;
  line-height: var(--space-6);
  margin: 0;
}

.faq .section-header p:last-of-type {
  color: var(--grey);
  font-family: var(--font-body);
  font-size: var(--fs-base);
  font-weight: 400;
}

.faq nav.faq-tabs {
  color: var(--dark);
  font-family: var(--font-body);
  font-size: var(--fs-base);
  font-weight: 300;
  line-height: var(--space-4);
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
  padding-bottom: var(--space-6);
}

.faq nav.faq-tabs a.active {
  display: block;
  color: var(--accent-orange);
  font-weight: 600;
}

.faq nav.faq-tabs a:hover {
  color: var(--accent-orange);
}

ul.faq-list {
  list-style: none;
  max-width: 770px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

li.faq-item {
  padding: var(--space-4);
}

/* li.faq-item details[open] {
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
  padding: 30px;
} */

li.faq-item {
  border-bottom: 0.5px solid var(--light-grey);
}

li.faq-item h3 {
  color: var(--dark);
  font-family: var(--font-body);
  font-size: var(--fs-lg);
  font-weight: 600;
  line-height: var(--space-4);
  /* 145.455% */
}

li.faq-item .answer {
  color: var(--grey);

  font-family: var(--font-body);
  font-size: var(--fs-base);
  font-style: normal;
  font-weight: 300;
  line-height: var(--space-4);
}

details[open] .faq-arrow-down {
  display: none;
}

details[open] .faq-arrow-up {
  display: block;
}

details .faq-arrow-down {
  display: block;
}

details .faq-arrow-up {
  display: none;
}

.faq-item:has(details[open]) {
  box-shadow: 0 8px 30px rgba(0, 0, 0, .06);
}

/* li.faq-item.active {
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
}

li.faq-item.inactive {
  border-top: 1px solid var(--light-grey);
} */

li.faq-item summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-1);
  padding-bottom: var(--space-2);
}

/* Remove default ::marker from summary details */
details>summary::-webkit-details-marker {
  display: none;
}

details>summary::marker {
  content: "";
}

details>summary {
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .faq nav.faq-tabs {
    gap: var(--space-2);
    font-size: var(--fs-base);
    line-height: var(--space-4);
    flex-wrap: wrap;
  }

  li.faq-item summary {
    padding: var(--space-2);
  }

  li.faq-item .answer {
    padding: 0 18px 18px 18px;
  }
}

@media (max-width: 480px) {
  .faq {
    padding-top: 0;
    padding-bottom: calc(var(--section-padding) / 2) 0;
  }

  .faq .section-header {
    padding-bottom: 0;
  }

  .faq .section-header .kicker {
    font-size: calc(var(--fs-base) / 1.3);
    line-height: var(--space-4);
  }

  .faq .section-header .faq-title {
    font-size: calc(var(--fs-2xl) / 2);
    line-height: var(--space-4);
  }

  .faq .section-header p:last-of-type {
    font-size: calc(var(--fs-base) / 1.3);
    line-height: var(--space-3);
    font-weight: 300;
  }

  .faq nav.faq-tabs {
    font-size: calc(var(--fs-base) / 1.3);
    line-height: var(--space-3);
  }

  li.faq-item {
    padding: 0;
  }

  li.faq-item h3 {
    font-size: calc(var(--fs-base) / 1.2);
  }

  li.faq-item .answer {
    font-size: calc(var(--fs-base) / 1.3);
    line-height: var(--space-4);
  }

  li.faq-item summary {
    padding-bottom: var(--space-1);
  }
}