/* ============================================================
  CTA
============================================================ */
.cta {
  background: var(--green);
  color: var(--white);
  width: 100%;
  padding: var(--section-padding) 0;
  font-family: var(--font-heading);
}

.cta .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-2);
}

.cta .section-header .kicker {
  color: var(--white);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: var(--space-4);
}

.cta .section-header .section-title {
  color: var(--white);
  font-size: var(--fs-2xl);
  font-weight: 700;
  line-height: var(--space-6);
}

.cta .section-header p:last-of-type {
  color: var(--white);
  font-family: var(--font-body);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: var(--space-4);
  max-width: 50ch;
}

.cta .actions {
  display: flex;
  justify-content: center;
  padding-top: var(--space-4);
}

@media (max-width: 480px) {
  .cta {
    padding: calc(var(--section-padding) / 2) 0;
  }

  .cta .section-header .kicker {
    font-size: calc(var(--fs-base) / 1.3);
    line-height: var(--space-4);
  }

  .cta .section-header .section-title {
    font-size: calc(var(--fs-2xl) / 2);
    line-height: var(--space-4);
  }

  .cta .section-header p:last-of-type {
    line-height: var(--space-3);
    font-size: calc(var(--fs-base) / 1.3);
    font-weight: 300;
  }

  .cta .actions {
    padding-top: var(--space-4);
  }

  .cta .section-header .actions .btn {
    font-size: calc(var(--fs-base) / 1.3);
    padding: var(--btn-pad-sm);
  }
}
